@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #001633;
    color: #9CD0F6;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
}

h2, h3 {
    margin: 0;
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: .25rem;
    color: #fff;
}

h2 {
    font-size: 3.5rem;
    font-weight: 600;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
}


img {
    width: 100%;
}

.nav-container {
    width: 100%;
    height: 80px;
    background: #073169;
}

nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 1rem;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.175rem;
    font-weight: 500;
    color: #fff;
}

@media (min-width: 1200px) {
    nav {
        max-width: calc(100% - 8rem);
        padding: 0;
    }
}

.nav-container ul {
    display: inherit;
    gap: 1rem;
    list-style: none;
}

.nav-container a, footer a, .navContainer a:visited, footer a:visited  {
    text-decoration: none;
    color: #fff;
}

.nav-container a:hover, footer a:hover {
    text-decoration: underline;
    color: #39A0ED;
    transition: .3s ease;
}

.logo-container {
    height: 24px;
}

@media (min-width: 1200px) {
    .logo-container {
        height: calc(100% - 24px);
    }
}

.logo {
    height: 100%;
    width: auto;
    padding-right: 1rem;
}

.bienvenida {
    height: calc(100vh - 80px);
    display: flex;
    align-items: flex-end;
    background-image: url(images/normandia.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text-container {
    margin: 4rem;
}

section {
    width: 100%;
    margin-bottom: 4rem;
}

.w50, .w50-reverse {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.w50-reverse {
    flex-direction: column-reverse;
}

.w50 img, .w50-reverse img {
    width: 100%;
}

.w50 div, .w50-reverse div {
    width: calc(100% - 4rem);
}

.w50 div, .w50-reverse div {
    padding: 4rem 0;
}

@media (min-width: 1200px) {
    .w50, .w50-reverse {
        max-width: 100%;
        flex-direction: row;
        text-align: left;
    }

    .w50 div, .w50 img, .w50-reverse div, .w50-reverse img {
        max-width: 50%;
        width: 100%;
    }

    .w50 div, .w50-reverse div {
        padding: 4rem;
    }
}

.w60 {
    max-width: min(60rem, calc(100% - 4rem));
    margin: 0 auto;
    text-align: center;
}

.personajes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 4rem;
}

@media (min-width: 1200px) {
    .personajes {
        grid-template-columns: repeat(4, 1fr);

    }
}

.character-card {
    text-decoration: none;
}

.character-card div {
    overflow: hidden;
    outline: 1px solid #39A0ED;
    border-radius: .5rem;
}

.character-card:hover img {
    transform: scale(1.1);
    transition: linear .2s;
}

.card-name {
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    text-align: center;
    color: white;
    padding: .5rem 0; 
}

.character-bio-container {
    background-image: linear-gradient(rgba(0, 0, 0, .3), #001633), url(images/tierra.jpg);
    padding-top: 80px;
}

.character-bio {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 2rem;
    max-width: min(60rem, calc(100% - 4rem));
}

@media (min-width: 1200px) {
    .character-bio {
        flex-direction: row;
    }
}

.datos {
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
}

.character-bio img {
    height: 100%;
    border-radius: .5rem;
    outline: 1px solid #39A0ED;
}

footer {
    max-width: min(60rem, calc(100% - 4rem));
    margin: 0 auto;
    text-align: center;
}